.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: #E9E9E9;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-img {
  height: 30px;
  width: auto;
  display: block;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: "Emblema One", system-ui;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .logo-text {
    font-size: 16px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    background-color: #E9E9E9;
    position: absolute;
    top: 50px;
    right: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
