<div class="view-route">
    <h1>Route</h1>
    <div class="map-wrapper">
        <app-map 
            [mode]="'staticRoute'"
            [ride]="ride">
        </app-map>
    </div>
    <div class="passengers">
        <h3>Passengers</h3>

        <ul>
            <li *ngFor="let passenger of data.ride.passengers">
                {{ passenger }}
            </li>
        </ul>
    </div>
    <div class="reports">
        <h3>Irregularity reports</h3>

        <ul>
            <li *ngFor="let report of data.ride.reports">
                {{ report }}
            </li>
        </ul>
    </div>
    <button class="btn-close" (click)="onClose()">
        close
    </button>
</div>
