<mat-toolbar color="primary" class="navbar">
  <div class="nav-left">
    <img src="logo.png" alt="Logo" class="logo-img" />
    <span class="logo-text">Dusha Taxi</span>
  </div>

  <span class="spacer"></span>

  <div class="nav-links" *ngIf="links.length" [class.active]="menuActive">
    <a *ngFor="let link of links" [routerLink]="link.route" routerLinkActive="active">
      <img [src]="link.icon" alt="icon" class="link-icon" />
    </a>
  </div>

  <button *ngIf="showHamburger" class="hamburger" (click)="toggleMenu()">&#9776;</button>
</mat-toolbar>
