@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}
