@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'leaflet/dist/leaflet.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Nobile', sans-serif; }

.emblema-one-regular {
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
}
