<div class="report-dialog">
  <h1>Rate Drive</h1>

  <div class="driver-details">
    <div class="driver">
      <label><strong>Driver: </strong>{{ ride.info.driver }}</label>
    </div>
  </div>

  <div class="comment-section">
    <label>Report:</label>
    <textarea 
      placeholder="Write report here..."
      [(ngModel)]="comment">
    </textarea>
  </div>

  <div class="dialog-actions">
    <button mat-button class="cancel-btn" (click)="close()">Cancel</button>
    <button mat-raised-button class="rate-btn" (click)="submit()">Report</button>
  </div>
</div>
