.chat-window {
  position: fixed;
  bottom: 50px; /* iznad dugmeta */
  right: 50px;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  background: #FFFFFF;
  z-index: 1000;
}

.chat-header {
  background-color: #618762;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  background-color: white;
}

.message {
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 70%;
  word-wrap: break-word;
}

.sent {
  background-color: #D9D9D9;
  align-self: flex-end;
}

.received {
  background-color: #C0C0C0;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.chat-input button {
  padding: 10px 15px;
  border: none;
  background-color: #618762;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.chat-input button:hover {
  background-color: #436744;
}