.active-ride-card {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 20px;
  background-color: #E9E9E9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.card-info p {
  margin: 4px 0;
  font-size: 14px;
  line-height: 1.4;
}

.view-ride-btn {
  padding: 10px 22px;
  background-color: #618762;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.view-ride-btn:hover {
  background-color: #436744;
}
