.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.filters input {
  padding: 6px 8px;
  border-radius: 20px;
  background-color: #E9E9E9;
  border-color: #C0C0C0;
}

.btn {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: #618762;
  color: #fff;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #436744;
}

.btn-clear {
  background-color: #575757;
  color: #D9D9D9;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.btn-clear:hover {
  background-color: rgb(71, 71, 71);
  color: #D9D9D9;
}

@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    width: 100%;
  }

  .filters input[type="date"] {
    width: 48%;
  }

  .btn {
    width: 50%;
    margin-top: 8px;
  }

  .btn-clear {
    width: 50%;
    margin-top: 8px;
  }
}

