<div class="driver-home-container">
  <div class="content-wrapper">
    <!-- Map -->
    <div class="map-section">
      <app-map [mode]="mapMode" [ride]="rideForMap"> </app-map>
    </div>

    <!-- Rides -->
    <div class="rides-panel">
      <!-- Normal Rides View -->
      <div *ngIf="!loading">
        <h2>Your Assigned Rides</h2>

        <div *ngIf="rides.length === 0" class="no-rides">
          <p>No rides assigned at the moment.</p>
        </div>

        <div *ngIf="rides.length > 0" class="pending-section">
          <app-driver-ride-card
            *ngFor="let ride of rides; let i = index"
            [ride]="ride"
            [canStart]="i === 0"
            (start)="handleStartRide($event)"
            (seeRoute)="handleSeeRoute($event)"
          >
          </app-driver-ride-card>
        </div>
      </div>

      <!-- Loading State -->
      <div *ngIf="loading" class="loading">
        <p>Loading rides...</p>
      </div>
    </div>
  </div>
</div>
