.ride-actions {
  background-color: rgb(233, 233, 233, 0.9);
  border-radius: 8px;
  padding: 16px 20px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.ride-actions button {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 11px 16px;
  font-size: 14px;
  border-radius: 22px;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #333;
  border: 3px solid transparent;
  transition: all 0.2s ease;
}

.ride-actions .panic-btn {
  background-color: #7a0000;
  color: #fff;
  border: 3px solid #7a0000;
  font-weight: 700;
  letter-spacing: 1px;
}

.ride-actions .panic-btn:hover {
  background-color: #5e0000;
  border-color: #5e0000;
}

.ride-actions .stop-btn {
  border: 4px solid #7a0000;
  font-weight: 600;
}

.ride-actions .stop-btn:hover {
  border-color: #5e0000;
}

.status-btn {
  background-color: #575757;
  color: #D9D9D9;
}

.status-btn:hover {
  background-color: rgb(71, 71, 71);
  color: #D9D9D9;
}

.ride-actions .finish-btn:disabled {
  background-color: #cccccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
  border: none;
}

.ride-actions .finish-btn:disabled:hover {
  background-color: #cccccc;
}

.ride-actions .report-btn,
.ride-actions .finish-btn {
  border: 4px solid #618762;
}

.ride-actions .report-btn:hover,
.ride-actions .finish-btn:hover {
  border-color: #436744;
}

@media (max-width: 768px) {
  .ride-actions {
    padding: 12px;
  }

  .ride-actions button {
    font-size: 13px;
    padding: 8px 12px;
  }
}
