<section class="ride-actions">
    <div *ngIf="!isAdmin">
        <button type="button" (click)="onPanic()" class="panic-btn">
            PANIC
        </button>
    </div>

    <div class="passenger-btn" *ngIf="isPassenger">
        <button type="button" (click)="onReport()" class="report-btn">
            Report
        </button>

        <button type="button" (click)="onCancel()" class="warning-btn">
            Cancel
        </button>
    </div>

    <div class="driver-btn" *ngIf="isDriver">
        <button type="button" (click)="onFinish()" class="finish-btn">
            Finish
        </button>
        <button type="button" (click)="onStopRide()" class="stop-btn">
            Stop
        </button>
        <button type="button" (click)="onGoInactive()" class="status-btn">
            Go Inactive
        </button>
    </div>
</section>
