<div class="chat-container">
  <div *ngIf="!selectedChatId" class="chat-list">
    <div class="chat-header">
        Support Chat
    </div>
    <div class="chat-summary" *ngFor="let chat of chatList" (click)="openChat(chat.chatId)">
      <div class="chat-user">{{ chat.userName }}</div>
      <div class="chat-last-message">{{ chat.lastMessage }}</div>
    </div>
  </div>

  <app-chat-window
    *ngIf="selectedChatId"
    [chatId]="selectedChatId"
    (close)="closeChat()">
  </app-chat-window>
</div>